.nav {
    width: 100%;
    height: $nav-height;
    background: $white;
    padding: 0 3rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    &-content {
        max-width: 94rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-right {
            @include flex-center;
            div:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }

    &-list {
        height: 0;
        width: 100vw;
        //padding: 2rem 0;
        background: transparent;
        position: fixed;
        top: $nav-height;
        left: 0;
        z-index: 900;
        overflow: hidden;
        transition: height 500ms linear;

        &-content {
            padding: 2rem 0;
            @include set-bg-color($white);
            @include flex-center(column);
            height: auto;
        }

        li:not(:last-child) {
            margin-bottom: .5rem;
        }

        a {
            display: inline-block;
            padding: 1rem 2rem;
            font-size: 1.3rem;
            letter-spacing: .5px;
            text-transform: uppercase;
            color: #888;
            position: relative;

            &::before {
                content: '';
                width: 0;
                height: 1px;
                background: $reddish;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: width $t-time ease;
            }

            &.active {
                font-weight: bold;
                color: $black;
            }

            &:hover::before {
                width: 100%;
            }
        }

        &.open {
            height: calc(100vh - 8rem);
        }

    }

    &-cart {
        display: flex;
        align-items: center;

        img {
            width: 1.5rem;
            margin-right: .5rem;
        }

        div {
            font-size: 1.4rem;
        }

        span {
            display: inline-block;
            width: 2rem;
            height: 2rem;
            margin-right: .5rem;
            line-height: 2rem;
            border-radius: 50%;
            text-align: center;
            @include set-bg-color($dark-gray);
        }
    }

    
    @include media("pc") {
        &-list {
            position: static;
            width: auto;
            height: 100%;

            &-content {
                height: 100%;
                flex-direction: row;
            }

            li {
              margin-bottom: 0 !important;
              margin-left: 3rem; 
            }

            a {
                padding: .5rem 1rem;
            }
            
        }
        .mobile-toggler {
            display: none;
        }
    }
}

.logo {
    width: 11rem;
}