.btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 1.5rem 2.5rem;
  border-radius: 0.1 rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  @include set-bg-color($white);
  transition: filter $t-time linear;

  &:hover {
    filter: brightness(0.85);
  }

  &-block {
    display: block;
    width: 100%;
    text-align: center;
  }

  &-dark {
    @include set-bg-color($black);
  }
}
