// Colors
$white: #fff;
$black: #1d1f2e;
$dark-gray: rgba(29, 31, 46, 0.7);
$reddish: #a25f4b;

$font-stack: "Karla", Arial, Helvetica, sans-serif;

$max-width: 1400px;
$nav-height: 8rem;

$t-time: 250ms;
$t-ease: ease-in-out;
$transform-tr: transform $t-time ease-in-out;


$tablet: 768px;
$laptop: 900px;
$pc: 1200px;