@font-face {
    font-family: "Karla";
    font-weight: normal;
    src: url('../fonts/Karla/Karla-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Karla";
    font-weight: bold;
    src: url('../fonts/Karla/Karla-Bold.ttf') format('truetype');
}